In [29]:
import pandas as pd
import numpy as np

 # **Load the raw files**

In [30]:
df_trans = pd.read_csv('Transacation.csv')
df_tickets = pd.read_csv('Tickets.csv')
df_purchase = pd.read_csv('Purchase.csv')

# **Data Representation**

## Transaction

In [31]:
df_trans.head()

,Transaction_ID,Date_of_Purchase,Time_of_Purchase,Purchase_ID,Ticket_ID,Date_of_Journey,Departure_Time,Arrival_Time,Actual_Arrival_Time,Journey_Status,Reason_for_Delay,Refund_Request
0,da8a6ba8-b3dc-4677-b176,8/12/2023,12:41:11,P_01,Ticket_1,1/1/2024,11:00:00,13:30:00,13:30:00,On Time,NaN,No
1,b0cdd1b0-f214-4197-be53,12/16/2023,11:23:01,P_02,Ticket_2,1/1/2024,9:45:00,11:35:00,11:40:00,Delayed,Signal Failure,No
2,f3ba7a96-f713-40d9-9629,12/19/2023,19:51:27,P_03,Ticket_3,2/1/2024,18:15:00,18:45:00,18:45:00,On Time,NaN,No
3,b2471f11-4fe7-4c87-8ab4,12/20/2023,23:00:36,P_04,Ticket_4,1/1/2024,21:30:00,22:30:00,22:30:00,On Time,NaN,No
4,2be00b45-0762-485e-a7a3,12/27/2023,18:22:56,P_05,Ticket_5,1/1/2024,16:45:00,19:00:00,19:00:00,On Time,NaN,No

In [32]:
df_trans.Reason_for_Delay.unique()

array([nan, 'Signal Failure', 'Technical Issue', 'Weather Conditions',
       'Weather', 'Staffing', 'Staff Shortage', 'Signal failure',
       'Traffic'], dtype=object)

In [33]:
df_trans.Journey_Status.unique()

array(['On Time', 'Delayed', 'Cancelled'], dtype=object)

In [34]:
df_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       31653 non-null  object
 1   Date_of_Purchase     31653 non-null  object
 2   Time_of_Purchase     31653 non-null  object
 3   Purchase_ID          31653 non-null  object
 4   Ticket_ID            31653 non-null  object
 5   Date_of_Journey      31653 non-null  object
 6   Departure_Time       31653 non-null  object
 7   Arrival_Time         31653 non-null  object
 8   Actual_Arrival_Time  29773 non-null  object
 9   Journey_Status       31653 non-null  object
 10  Reason_for_Delay     4172 non-null   object
 11  Refund_Request       31653 non-null  object
dtypes: object(12)
memory usage: 2.9+ MB

In [35]:
df_trans.isna().sum()

Transaction_ID             0
Date_of_Purchase           0
Time_of_Purchase           0
Purchase_ID                0
Ticket_ID                  0
Date_of_Journey            0
Departure_Time             0
Arrival_Time               0
Actual_Arrival_Time     1880
Journey_Status             0
Reason_for_Delay       27481
Refund_Request             0
dtype: int64

In [28]:
df_trans.duplicated().sum()

np.int64(0)

## Ticket

In [20]:
df_tickets.head()

,Ticket_Class,Ticket_Type,Price,Departure_Station,Arrival_Destination,Ticket_ID
0,Standard,Advance,43,London Paddington,Liverpool Lime Street,Ticket_1
1,Standard,Advance,23,London Kings Cross,York,Ticket_2
2,Standard,Advance,3,Liverpool Lime Street,Manchester Piccadilly,Ticket_3
3,Standard,Advance,13,London Paddington,Reading,Ticket_4
4,Standard,Advance,76,Liverpool Lime Street,London Euston,Ticket_5

In [19]:
df_tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ticket_Class         443 non-null    object
 1   Ticket_Type          443 non-null    object
 2   Price                443 non-null    int64
 3   Departure_Station    443 non-null    object
 4   Arrival_Destination  443 non-null    object
 5   Ticket_ID            443 non-null    object
dtypes: int64(1), object(5)
memory usage: 20.9+ KB

In [21]:
df_tickets.isna().sum()

Ticket_Class           0
Ticket_Type            0
Price                  0
Departure_Station      0
Arrival_Destination    0
Ticket_ID              0
dtype: int64

In [27]:
df_tickets.duplicated().sum()

np.int64(0)

## Purchase

In [22]:
df_purchase.head()

  Purchase_Type Payment_Method Railcard Purchase_ID
0        Online    Contactless    Adult        P_01
1       Station    Credit Card    Adult        P_02
2        Online    Credit Card      NaN        P_03
3       Station    Credit Card      NaN        P_04
4        Online    Contactless      NaN        P_05

In [23]:
df_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Purchase_Type   23 non-null     object
 1   Payment_Method  23 non-null     object
 2   Railcard        17 non-null     object
 3   Purchase_ID     23 non-null     object
dtypes: object(4)
memory usage: 868.0+ bytes

In [24]:
df_purchase.isna().sum()

Purchase_Type     0
Payment_Method    0
Railcard          6
Purchase_ID       0
dtype: int64

In [25]:
df_purchase.Railcard.unique()

array(['Adult', nan, 'Disabled', 'Senior'], dtype=object)

In [26]:
df_purchase.duplicated().sum()

np.int64(0)

# **Cleaning Transaction Data**

In [45]:
# 1: Date Formats

df_trans['Date_of_Journey'] = pd.to_datetime(df_trans['Date_of_Journey']).dt.strftime('%Y-%m-%d')
df_trans['Date_of_Purchase'] = pd.to_datetime(df_trans['Date_of_Purchase']).dt.strftime('%Y-%m-%d')

#2: Handle Nulls in Required Columns

df_trans['Reason_for_Delay'] = df_trans['Reason_for_Delay'].fillna('Not Applicable')
df_trans.loc[df_trans['Journey_Status'] == 'On Time', 'Reason_for_Delay'] = 'On Time'

# 3: Merge duplicates
df_trans['Reason_for_Delay'] = df_trans['Reason_for_Delay'].replace({
'Signal failure': 'Signal Failure',
'Weather': 'Weather Conditions',
'Staffing': 'Staff Shortage'
})

# **Cleaning Tickets Data**

In [46]:
# Ensure Price is numeric
df_tickets['Price'] = pd.to_numeric(df_tickets['Price'], errors='coerce').fillna(0)

# **Cleaning Purchase Data**

In [47]:
# Fill missing Railcard info
df_purchase['Railcard'] = df_purchase['Railcard'].fillna('None')

# Download Data

In [51]:
df_trans.to_csv('Transaction_Cleaned.csv', index=False)
df_tickets.to_csv('Tickets_Cleaned.csv', index=False)
df_purchase.to_csv('Purchase_Cleaned.csv', index=False)